<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Warehouse | Products</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="jumbotron">Warehouse Management Systems</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="jumbotron">
                Product Management
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="jumbotron">
                <a href="/">Back to main</a>
            </h2>
        </div>
    </div>
</div>
</body>
</html>