<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Warehouse | Product ' + ${product.productId}">Warehouse | Product</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/styles.css"
          th:href="@{/css/styles.css}"/>
</head>
<body>
<nav th:replace="fragments :: navbar" sec:authorize="isAuthenticated()"></nav>
<header th:replace="fragments :: .header"></header>

<main class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="jumbotron identifier">
                <a th:href="@{/product/all}">Back to Products</a>
            </h2>
        </div>
    </div>
    <div class="row">
            <div class="form-horizontal">
                <div class="form-group col-md-4">
                    <label class="col-md-6 control-label">
                        Product ID:
                    </label>
                    <div class="col-md-6">
                        <p class="form-control-static" th:text="${product.productId}">Product ID</p>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="col-md-6 control-label">
                        Product:
                    </label>
                    <div class="col-md-6">
                        <p class="form-control-static" th:text="${product.productName}">Product Price</p>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="col-md-6 control-label">
                        Current Inventory:
                    </label>
                    <div class="col-md-6">
                        <p class="form-control-static" th:text="${product.productInventory}">Product Price</p>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Shipment ID</th>
                        <th>Shipment Details</th>
                        <th>Shipment Type</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="lot : ${lots}">
                        <span th:if="${lot.value.quantity != 0}">
                        <td th:text="${{lot.value.createdOn}}">Shipment Date</td>
                        <td th:text="${lot.key}">Shipment ID</td>
                        <td><a th:href="@{/shipment/show/} + ${lot.key}">View Shipment</a></td>
                        <td th:text="${lot.value.shipmentType}">Shipment Type</td>
                        <td th:text="${lot.value.quantity}">Inventory Change</td>
                        </span>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>