<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Warehouse | Shipments</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/styles.css"
          th:href="@{/css/styles.css}"/>
</head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="jumbotron identifier">
                All Shipments
            </h2>
        </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(shipments)}">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Shipment ID</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Shipment Details</th>
                    <th scope="col">Edit Shipment</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="shipment : ${shipments}">
                    <td th:text="${shipment.key}">Shipment Id</td>
                    <td th:text="${shipment.value.createdOn}">Created On</td>
                    <td th:text="${shipment.value.updatedOn}">Updated On</td>
                    <td>
                        <a th:href="@{/shipment/show/} + ${shipment.key}">
                            <span class="view-me">View</span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/shipment/edit/} + ${shipment.key}">
                            <span class="view-me">Edit</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="new-item">
                <a th:href="@{/shipment/new}" class="my-button">New Shipment</a>
            </div>
        </div>
    </div>
    <div class="row" th:if="${#lists.isEmpty(shipments)}">
        <h2 class="identifier">There are currently no shipments to show</h2>
    </div>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>