<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Warehouse | Shipments</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/styles.css"
          th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <a href="/index.html"><h1 id="warehouse">Warehouse Management Systems</h1></a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="jumbotron identifier">
                All Shipments
            </h2>
        </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(shipments)}">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Shipment ID</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Shipment Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="shipment : ${shipments}">
                    <td th:text="${shipment.key}">Shipment Id</td>
                    <td th:text="${shipment.value.createdOn}">Created On</td>
                    <td th:text="${shipment.value.updatedOn}">Updated On</td>
                    <td>
                        <a href="show.html" th:href="@{/shipment/show/} + ${shipment.key}">
                            <span class="view-me">View Details</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" th:if="${#lists.isEmpty(shipments)}">
        <h2 class="identifier">There are currently no shipments to show</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="/" class="my-button navigation-button"><h2>Main Menu</h2></a>
        </div>
        <div class="col-md-6">
            <a href="#warehouse" class="my-button navigation-button"><h2>Back to top</h2></a>
        </div>
    </div>
</div>
</body>
</html>