<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Warehouse | Shipment ' + ${shipment.shipmentId}">Warehouse | Shipment</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/styles.css"
          th:href="@{/css/styles.css}"/>
</head>
<body>
<nav th:replace="fragments :: navbar" sec:authorize="isAuthenticated()"></nav>
<header th:replace="fragments :: .header"></header>

<main class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="jumbotron identifier">
                <a th:href="@{/shipment/all}">Back to Shipments</a>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Details</h2>

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-6 control-label">
                        Shipment ID:
                    </label>
                    <div class="col-md-6">
                        <p class="form-control-static" th:text="${shipment.shipmentId}">Shipment Id</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">
                        Shipment Type:
                    </label>
                    <div class="col-md-6">
                        <p class="form-control-static" th:text="${shipment.shipmentType}">Shipment Type</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">
                        Updated On:
                    </label>
                    <div class="col-md-6">
                        <p class="form-control-static" th:text="${shipment.updatedOn}">Updated On</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">
                        Created On:
                    </label>
                    <div class="col-md-6">
                        <p class="form-control-static" th:text="${shipment.createdOn}">Created On</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-8">

            <h2>Product Lots</h2>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Inventory Change</th>
                    <th>Updated On</th>
                    <th sec:authorize="hasAnyRole('ADMIN','MANAGER')">Product Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="productLot : ${lots}">
                    <span th:if="${productLot.value.quantity != 0}">
                    <td th:text="${productLot.value.productId}">Product ID</td>
                    <td th:text="${productLot.value.quantity}">Quantity</td>
                    <td th:text="${productLot.value.updatedOn}">Updated On</td>
                    <td sec:authorize="hasAnyRole('ADMIN','MANAGER')">
                        <a href="show.html" th:href="@{/product/show/} + ${productLot.value.productId}">
                            <span class="view-me">View This Product</span>
                        </a>
                    </td>
                    </span>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>