<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Warehouse | Employee Form</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/styles.css"
          th:href="@{/css/styles.css}"/>
</head>
<body>

<header th:replace="fragments :: header"></header>

<main class="container">
    <nav class="row">
        <div class="col-md-12">
            <h2 class="jumbotron identifier">
                <a th:href="@{/employee/all}">Back to Employees</a>
            </h2>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-12">

            <dl th:if="${existingDate}">
                <dt>Employee ID:</dt><!--
                --><dd th:text="${employeeForm.employeeId}">ID</dd>
                <dt>Last Updated:</dt><!--
                --><dd th:text="${#dates.format(employeeForm.updatedOn, 'dd MMM yyyy')
                + ' at ' + #dates.format(employeeForm.updatedOn, 'HH:mm')}"></dd>
            </dl>

            <form th:object="${employeeForm}" th:action="@{/employee}" method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:text="#{form.hasErrors}">Error Message</p>
                </div>

                <input type="hidden" th:field="*{employeeId}" th:unless="${__*{newEmployee}__}"/>
                <input type="hidden" th:field="*{version}"    th:unless="${__*{newEmployee}__}"/>
                <input type="hidden" th:field="*{newEmployee}" />
                <fieldset>
                    <dl>
                        <!---->
                        <dt th:if="${__*{newEmployee}__}">
                            <label for="employeeId">Employee ID</label>
                        </dt>
                        <dd th:if="${__*{newEmployee}__}">
                            <input required="required" th:field="*{employeeId}" id="employeeId" th:errorclass="has-error"/>
                        </dd>
                        <dd class="error-message" th:if="${not #fields.errors('employeeId').isEmpty()}">
                            <p th:each="err : ${#fields.errors('employeeId')}" th:text="${err}"></p>
                        </dd>
                        <!---->
                        <dt th:if="${__*{newEmployee}__}">
                            <label for="password">Password</label>
                        </dt>
                        <dd th:if="${__*{newEmployee}__}">
                            <input required="required" minlength="8" maxlength="25" th:field="*{password}" id="password" th:errorclass="has-error"/>
                        </dd>
                        <dd class="error-message" th:if="${not #fields.errors('password').isEmpty()}">
                            <p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
                        </dd>
                        <!---->
                        <dt>
                            <label for="firstName">First Name</label>
                        </dt>
                        <dd>
                            <input required="required" th:field="*{firstName}" id="firstName" th:errorclass="has-error"/>
                        </dd>
                        <dd class="error-message" th:if="${not #fields.errors('firstName').isEmpty()}">
                            <p th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></p>
                        </dd>
                        <!---->
                        <dt>
                            <label for="lastName">Last Name</label>
                        </dt>
                        <dd>
                            <input required="required" th:field="*{lastName}" id="lastName" th:errorclass="has-error"/>
                        </dd>
                        <dd class="error-message" th:if="${not #fields.errors('lastName').isEmpty()}">
                            <p th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></p>
                        </dd>
                        <!---->
                        <dt>
                            <label for="addressLine1">Address Line 1</label>
                        </dt>
                        <dd>
                            <input required="required" th:field="*{address.line1}" id="addressLine1" th:errorclass="has-error"/>
                        </dd>
                        <dd class="error-message" th:if="${not #fields.errors('address.line1').isEmpty()}">
                            <p th:each="err : ${#fields.errors('address.line1')}" th:text="${err}"></p>
                        </dd>
                        <!---->
                        <dt>
                            <label for="addressLine2">Address Line 2</label>
                        </dt>
                        <dd>
                            <input th:field="*{address.line2}" id="addressLine2" th:errorclass="has-error"/>
                        </dd>
                        <dd class="error-message" th:if="${not #fields.errors('address.line2').isEmpty()}">
                            <p th:each="err : ${#fields.errors('address.line2')}" th:text="${err}"></p>
                        </dd>
                        <!---->
                        <dt>
                            <label for="city">City</label>
                        </dt>
                        <dd>
                            <input required="required" th:field="*{address.city}" id="city" th:errorclass="has-error"/>
                        </dd>
                        <dd class="error-message" th:if="${not #fields.errors('address.city').isEmpty()}">
                            <p th:each="err : ${#fields.errors('address.city')}" th:text="${err}"></p>
                        </dd>
                        <!---->
                        <dt>
                            <label for="state">State</label>
                        </dt>
                        <dd>
                            <input required="required" th:field="*{address.state}" id="state" th:errorclass="has-error"/>
                        </dd>
                        <dd class="error-message" th:if="${not #fields.errors('address.state').isEmpty()}">
                            <p th:each="err : ${#fields.errors('address.state')}" th:text="${err}"></p>
                        </dd>
                        <!---->
                        <dt>
                            <label for="zipcode">Zipcode</label>
                        </dt>
                        <dd>
                            <input required="required" th:field="*{address.zipcode}" id="zipcode" th:errorclass="has-error"/>
                        </dd>
                        <dd class="error-message" th:if="${not #fields.errors('address.zipcode').isEmpty()}">
                            <p th:each="err : ${#fields.errors('address.zipcode')}" th:text="${err}"></p>
                        </dd>

                    </dl>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="my-button" type="submit">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>