a {
    color: inherit;
    display: block;
}
a:hover {
    color: #700;
    text-decoration: none;
}
button {
    margin-bottom: 15px;
    margin-left: 30%;
    width: 100px;
}
dd,
dt {
    display: inline-block;
}
dd {
    width: 70%;
}
dt {
    width: 29%;
    text-align: right;
    padding: 0 15px 10px 0;
}
input {
    width: 80%;
}

th {
    color: #fff;
    background-color: #333;
}

footer.jumbotron {
    margin-bottom: 0;
}

.delete-options {
    text-align: center;
}
.delete-options button {
    margin: 4% 0 8% 0;
    background-color: #faa;
    width: auto;
}
.error-message {
    width: 100%;
    color: #911;
    margin-left: 30%;
}
.has-error {
    background-color: #fee;
    border-color: #f66;
}
.identifier {
    text-align: center;
}
.login {
    background: pink;
}
.manage-button {
    padding: 20vh 0;
    display: flex;
    border-radius: 8px;
    color: inherit;
}
.manage-button:hover {
    background: #bbb;
}
.manage-button h1 {
    margin: auto;
}
.my-button {
    background: #ddd;
    border: none;
    border-radius: 10px;
}
.my-button:hover {
    background: #ccc;
    color: #700;
}
.navigation-button {
    padding: 5px;
    text-align: center;
    border-radius: 8px;
}
.new-item {
    width: 8em;
    text-align: center;
    margin-bottom: 2em;
}
.view-me {
    font-weight: bold;
}
