<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>My Account</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/styles.css"
          th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="page">
<nav th:replace="fragments :: navbar" sec:authorize="isAuthenticated()"></nav>
<header th:replace="fragments :: .header"></header>

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <form th:object="${passwordForm}" th:action="@{/account/change_password}" method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:text="#{form.hasErrors}">Error Message</p>
                </div>

                <fieldset>
                    <dt>
                        <label for="currentPassword">Current Password</label>
                    </dt>
                    <dd>
                        <input type="password" required="required" th:field="*{currentPassword}" id="currentPassword"
                               th:errorclass="has-error"/>
                    </dd>
                    <dd class="error-message" th:if="${not #fields.errors('currentPassword').isEmpty()}">
                        <p th:each="err : ${#fields.errors('currentPassword')}" th:text="${err}"></p>
                    </dd>
                    <dt>
                        <label for="newPassword">New Password</label>
                    </dt>
                    <dd>
                        <input type="password" required="required" minlength="8" maxlength="25" th:field="*{newPassword}"
                               id="newPassword" th:errorclass="has-error"/>
                    </dd>
                    <dt>
                        <label for="confirmPassword">Confirm Password</label>
                    </dt>
                    <dd>
                        <input type="password" required="required" minlength="8" maxlength="25" th:field="*{confirmPassword}"
                               id="confirmPassword" th:errorclass="has-error"/>
                    </dd>
                    <dd class="error-message" th:if="${not #fields.errors('newPassword').isEmpty()}">
                        <p th:each="err : ${#fields.errors('newPassword')}" th:text="${err}"></p>
                    </dd>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="my-button" type="submit">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4 account-options">
            <a class="my-button identifier" th:href="@{/account/show}">My Account</a>
        </div>
    </div>

</main>
<footer th:replace="fragments :: footer"></footer>
</div>
</body>
</html>
