<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Warehouse | Home</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/styles.css"
          th:href="@{css/styles.css}"/>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <a href="/index.html"><h1>Warehouse Management Systems</h1></a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="access_denied">
                <h2>Access Denied</h2>
                <p>The page you are attempting to view requires authorization.</p>
            </div>
        </div>
    </div>

</div>

</body>
</html>