<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fragments</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/styles.css"
          th:href="@{/css/styles.css}"/>
</head>
<body>

<header class="jumbotron" th:fragment="header">
    <div class="container">
        <a href="/index.html"><h1 id="warehouse">Warehouse Management Systems</h1></a>
    </div>
</header>

<footer class="jumbotron" th:fragment="footer">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/" class="my-button navigation-button"><h2>Main Menu</h2></a>
            </div>
            <div class="col-md-6">
                <a href="#warehouse" class="my-button navigation-button"><h2>Back to top</h2></a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>