<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Warehouse | Home</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="jumbotron">Warehouse Management Systems</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Products Box Will Go Here</h1>
            <a href="/product/all">Products Page</a>
            <!--store the choice somehow and redirect after login-->
        </div>
        <div class="col-md-6">
            <h1>Employee Data Box Will Go Here</h1>
            <a href="/employee/all">Employees Page</a>
            <!--store the choice somehow and redirect after login-->
        </div>
    </div>

</div>

</body>
</html>